* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
}
.wrap {
  font-size: 0;
  &-col {
    display: inline-block;
    padding: 20px;
    width: 50%;
    &:nth-child(even) {
      padding-left: 10px;
    }
    &:nth-child(odd) {
      padding-right: 10px;
    }
  }
}
