.Accum {
  padding: 20px;
  background-color: #353a3f;
  z-index: 99;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  width: 400px;
  color: rgb(46, 46, 46);
  right: 0;
}
@media screen and (max-width: 500px) {
  .Accum {
    width: 100%;
  }
}
.Accum2 {
  padding: 20px;
  background-color: #353a3f;
  z-index: 99;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  width: 400px;
  color: white;
  justify-content: center;
  right: 0;
}
@media screen and (max-width: 500px) {
  .Accum2 {
    width: 100%;
  }
}
.SpillPlassert {
  font-size: x-large;
  color: gainsboro;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  vertical-align: middle;
}
@media only screen and (min-width: 700px) {
  #customers {
    max-width: 700px;
    font-size: large;
  }
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 4px;
}
.OrdbokDiv {
  max-width: 900px;
  margin: auto;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
.Name {
  font-size: x-large;
  color: #353a3f;
}
.Saldo {
  font-style: italic;
  color: #353a3f;
}
.Bettet {
  color: gainsboro;
  font-style: italic;
}
.Valget {
  font-style: italic;
  font-size: small;
  color: gainsboro;
}
.BetInSlip {
  border: 1px solid grey;
  padding-left: 2%;
  padding-right: 4%;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .OrdbokInnsending {
    max-width: 60%;
  }
}

.TikTok {
  max-width: 95%;
  height: auto;
}
.Construction {
  max-width: 95%;
}

.Forsidebilde {
  width: 95%;
  max-width: 500px;

  height: auto;
}
.WhiteText {
  color: gainsboro;
}

.Forsidetekst {
  width: 95%;
  max-width: 700px;
  text-align: center;
  margin: auto;
}

.TwitterStyle {
  justify-content: center;
  display: 'flex';
}
.CenterDiv {
  justify-content: center;
  margin: 0 auto;
}
.outside {
  display: none;
}
.dropdown {
  position: relative;
}

.dropdown-content {
  z-index: 1;
}

.meny {
  display: none;
}
.burger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .meny {
    display: block;
    color: white;
  }
  .burger {
    display: block;
    margin-top: 6px;
    margin-left: 6px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: #353a3f;
    width: 100%;
    height: 40px;
  }

  .dropdown-content {
    display: none;
    position: absolute;

    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    
  }
}
